.detail {
  margin-top: 50px;
  display: grid;
  width: 100%;
  height: calc(100vh - 50px);
  grid-template-columns: 40% 60%;
}
.detail__photos {
  display: grid;
  grid-auto-rows: 100%;
}

.detail__journal {
  padding: 10%;
}
.detail__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
  h2 {
    font-size: $titleFont;
  }
  h4 {
    @extend %placeDate;
  }
}

.detail__text {
  textarea {
    font-size: 20px;
    width: 100%;
    height: 60vh;
    border: none;
    resize: none;
  }
}
