.hero {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-auto-rows: 70vh;
}

.hero__columns {
  display: grid;
  grid-template-columns: 35% 65%;
  background-color: lightblue;
  .hero__text {
    padding: 20% 15%;
    position: relative;
    background: linear-gradient(
      to bottom,
      transparent,
      transparent,
      transparent,
      rgba(0, 0, 0, 0.1) 99%
    );
    h2 {
      @extend %placeTitle;
      margin-bottom: 10px;
    }
    .hero__text-date {
      @extend %placeDate;
    }
    a {
      @extend %leanMoreBtn;
      position: absolute;
    }
  }
  .hero__photo {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      @extend %btn;
      font-size: 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.hero__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    @extend %btn;
    padding: 30px;
    border: 3px solid black;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
}
