.place_info {
  margin-top: 70px;
  padding: 0px 40px;
  display: flex;
  align-items: flex-end;
  h2 {
    @extend %placeTitle;
  }
  .date {
    @extend %placeDate;
    margin: 0px 0px 12px 20px;
  }
}

nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content;
  padding: 30px 0px 70px 0px;
  .nav__column {
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 0.8px solid $text_color;
    color: $text_color;
    font-size: 13px;
    font-weight: 300;
    .column__title {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 18px;
      opacity: 0.3;
    }
    li {
      text-align: center;
      margin-bottom: 5px;
      &:hover:not(.dot) {
        cursor: pointer;
        text-decoration: line-through;
      }
      input {
        text-align: center;
        border: none;
        outline: none;
        border-bottom: 0.2px solid rgba(0, 0, 0, 0.3);
        padding: 3px;
        font-weight: 300;
      }
    }
  }
}

.contants {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 520px;
}

contant {
  padding: 10% 5%;
  font-family: "Sacramento", cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:nth-child(6n + 1) {
    background-color: #eee5d8;
  }
  &:nth-child(6n + 2) {
    background-color: lightblue;
  }
  &:nth-child(6n + 3) {
    background-color: lightgoldenrodyellow;
  }
  &:nth-child(6n + 4) {
    background-color: #c598ec;
  }
  &:nth-child(6n + 5) {
    background-color: lightsalmon;
  }
  &:nth-child(6n) {
    background-color: lightcoral;
  }
  .contant__footer {
    display: flex;
    justify-content: space-between;
  }
}

.titleBig {
  @extend %contantTitleBig;
}
.contant-titleBig {
  .titleBig__header {
    position: relative;
    top: 20px;
    font-size: 35px;
  }
  .titleBig__photo {
    width: 280px;
    height: 370px;
  }
  &:hover {
    filter: blur(30px);
    cursor: pointer;
  }
}
.modal-titleBig {
  .titleBig__header {
    position: relative;
    top: 10px;
    font-size: 20px;
  }
  .titleBig__photo {
    width: 180px;
    height: 260px;
  }
}

.titleNormal {
  @extend %contantTitleNormal;
}
.contant-titleNormal {
  .normal__photo {
    margin-top: 40px;
    width: 200px;
    height: 290px;
  }
  .normal__text {
    margin-top: 10px;
    font-size: 20px;
  }
  &:hover {
    filter: blur(30px);
    cursor: pointer;
  }
}
.modal-titleNormal {
  .normal__photo {
    margin-top: 30px;
    width: 140px;
    height: 190px;
  }
  .normal__text {
    margin-top: 5px;
    font-size: 10px;
  }
}

.quoteFirst {
  &:hover {
    cursor: pointer;
    background-image: url("../../photos/bonfire.JPG");
    background-position: center;
    background-size: cover;
    .titleQuote {
      opacity: 0;
    }
  }
}
.quoteSecond {
  &:hover {
    cursor: pointer;
    background-image: url("../../photos/songjeong.JPG");
    background-position: center;
    background-size: cover;
    .titleQuote {
      opacity: 0;
    }
  }
}
.titleQuote {
  @extend %contantQuote;
}
.contant-titleQuote {
  margin-top: 150px;
  font-size: 40px;
}
.modal-titleQuote {
  margin-top: 100px;
  font-size: 25px;
}

.titles {
  @extend %contantTitles;
}
.contant-titles {
  .title {
    font-size: 48px;
  }
  &:hover {
    cursor: pointer;
    .title {
      &:first-child {
        color: #dfcdaa;
      }
      &:nth-child(2) {
        color: #b96f47;
      }
      &:nth-child(3) {
        color: #cca7ec;
      }
      &:nth-child(4) {
        color: #fb7b42;
      }
      &:nth-child(5) {
        color: #6c95ce;
      }
      &:nth-child(6) {
        color: #d4a335;
      }
      &:nth-child(7) {
        color: #ada86a;
      }
      &:nth-child(8) {
        color: lightpink;
      }
      &:last-child {
        color: #b5d5a3;
      }
    }
  }
}
.modal-titles {
  .title {
    font-size: 35px;
  }
}

.contant__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    @extend %btn;
    font-size: 40px;
    &:hover {
      cursor: pointer;
    }
  }
}

.hidden {
  display: none;
}
.modal {
  //   display: none;
}
.modal_body {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;

  width: 70%;
  height: 60%;

  padding: 30px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);

  button {
    @extend %btn;
  }
}

.modal__header {
  height: 5%;
  display: flex;
  margin-bottom: 20px;
  .modal__header__column {
    width: 33%;
    &:first-child {
      align-items: center;
      a {
        margin-left: 30px;
      }
    }
    &:nth-child(2) {
      font-size: 30px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:last-child {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      button {
        margin-right: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.modal__main {
  height: 90%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  // grid-template-rows: repeat(minmax(80%, 100%));
  grid-auto-rows: repeat(minmax(50%, 100%));
  .modal__contant {
  }
}
