@import "_variables.scss";

%btn {
  border: none;
  background: inherit;
}
%leanMoreBtn {
  bottom: 100px;
  text-decoration: none;
  color: inherit;
  border: 0.6px solid black;
  border-radius: 99px;
  padding: 10px 35px;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
}
%placeTitle {
  font-size: $titleFont;
  font-weight: 600;
  font-style: italic;
}
%placeDate {
  font-size: 20px;
  btn {
    &:hover {
      cursor: pointer;
    }
  }
}

%contantTitleBig {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .titleBig__header {
    font-family: $fontLemon;
    white-space: nowrap;
    color: whitesmoke;
  }
  .titleBig__photo {
    background-color: red;
    background-position: center;
    background-size: cover;
  }
}
%contantTitleNormal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .normal__photo {
    background-color: red;
    background-position: center;
    background-size: cover;
  }
  .normal__text {
    font-family: "Raleway", sans-serif;
  }
}
%contantQuote {
  font-family: $fontLemon;
  text-align: center;
}
%contantTitles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .title {
    font-family: $fontLemon;
  }
}
